@font-face {
    font-family: 'klavika_bdbold';
    src: url('fonts/klavika/klavika-bold-webfont.eot');
    src: url('fonts/klavika/klavika-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/klavika/klavika-bold-webfont.woff') format('woff'), url('fonts/klavika/klavika-bold-webfont.ttf') format('truetype'), url('fonts/klavika/klavika-bold-webfont.svg#klavika_bdbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'klavikamedium';
    src: url('fonts/klavika/klavika-medium-webfont.eot');
    src: url('fonts/klavika/klavika-medium-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/klavika/klavika-medium-webfont.woff') format('woff'), url('fonts/klavika/klavika-medium-webfont.ttf') format('truetype'), url('fonts/klavika/klavika-medium-webfont.svg#klavikamedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'klavika_rgregular';
    src: url('fonts/klavika/klavika-regular-webfont.eot');
    src: url('fonts/klavika/klavika-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/klavika/klavika-regular-webfont.woff') format('woff'), url('fonts/klavika/klavika-regular-webfont.ttf') format('truetype'), url('fonts/klavika/klavika-regular-webfont.svg#klavika_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'klavika_light';
    src: url('fonts/klavika/KlavikaWebBasicLight.eot');
    src: url('fonts/klavika/KlavikaWebBasicLight.eot?#iefix') format('embedded-opentype'), url('fonts/klavika/KlavikaWebBasicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    line-height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

    audio:not([controls]) {
        display: none;
        height: 0;
    }

[hidden], template {
    display: none;
}

a {
    background: transparent;
}

    a:active, a:hover {
        outline: 0;
    }

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

    button[disabled], html input[disabled] {
        cursor: default;
    }

    button::-moz-focus-inner, input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

input {
    line-height: normal;
}

    input[type="checkbox"], input[type="radio"] {
        box-sizing: border-box;
        padding: 0;
    }

    input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
        height: auto;
    }

    input[type="search"] {
        -webkit-appearance: textfield;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }

        input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
            -webkit-appearance: none;
        }

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

.container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

    .container .column, .container .columns {
        float: left;
        display: inline;
        margin-left: 10px;
        margin-right: 10px;
    }

.row {
    margin-bottom: 20px;
}

.column.alpha, .columns.alpha {
    margin-left: 0;
}

.column.omega, .columns.omega {
    margin-right: 0;
}

.container .one.column, .container .one.columns {
    width: 40px;
}

.container .two.columns {
    width: 100px;
}

.container .three.columns {
    width: 160px;
}

.container .four.columns {
    width: 220px;
}

.container .five.columns {
    width: 280px;
}

.container .six.columns {
    width: 540px;
}

.container .seven.columns {
    width: 400px;
}

.container .eight.columns {
    width: 460px;
}

.container .nine.columns {
    width: 520px;
}

.container .ten.columns {
    width: 580px;
}

.container .eleven.columns {
    width: 640px;
}

.container .twelve.columns {
    width: 700px;
}

.container .thirteen.columns {
    width: 760px;
}

.container .fourteen.columns {
    width: 820px;
}

.container .fifteen.columns {
    width: 880px;
}

.container .sixteen.columns {
    width: 940px;
}

.container .one-third.column {
    width: 300px;
}

.container .two-thirds.column {
    width: 620px;
}

.container .offset-by-one {
    padding-left: 60px;
}

.container .offset-by-two {
    padding-left: 120px;
}

.container .offset-by-three {
    padding-left: 180px;
}

.container .offset-by-four {
    padding-left: 240px;
}

.container .offset-by-five {
    padding-left: 300px;
}

.container .offset-by-six {
    padding-left: 360px;
}

.container .offset-by-seven {
    padding-left: 420px;
}

.container .offset-by-eight {
    padding-left: 480px;
}

.container .offset-by-nine {
    padding-left: 540px;
}

.container .offset-by-ten {
    padding-left: 600px;
}

.container .offset-by-eleven {
    padding-left: 660px;
}

.container .offset-by-twelve {
    padding-left: 720px;
}

.container .offset-by-thirteen {
    padding-left: 780px;
}

.container .offset-by-fourteen {
    padding-left: 840px;
}

.container .offset-by-fifteen {
    padding-left: 900px;
}

@media only screen and (min-width:768px) and (max-width:959px) {
    .container {
        width: 768px;
    }

        .container .column, .container .columns {
            margin-left: 10px;
            margin-right: 10px;
        }

    .column.alpha, .columns.alpha {
        margin-left: 0;
        margin-right: 10px;
    }

    .column.omega, .columns.omega {
        margin-right: 0;
        margin-left: 10px;
    }

    .alpha.omega {
        margin-left: 0;
        margin-right: 0;
    }

    .container .one.column, .container .one.columns {
        width: 28px;
    }

    .container .two.columns {
        width: 76px;
    }

    .container .three.columns {
        width: 124px;
    }

    .container .four.columns {
        width: 172px;
    }

    .container .five.columns {
        width: 220px;
    }

    .container .six.columns {
        width: 268px;
    }

    .container .seven.columns {
        width: 316px;
    }

    .container .eight.columns {
        width: 364px;
    }

    .container .nine.columns {
        width: 412px;
    }

    .container .ten.columns {
        width: 460px;
    }

    .container .eleven.columns {
        width: 508px;
    }

    .container .twelve.columns {
        width: 556px;
    }

    .container .thirteen.columns {
        width: 604px;
    }

    .container .fourteen.columns {
        width: 652px;
    }

    .container .fifteen.columns {
        width: 700px;
    }

    .container .sixteen.columns {
        width: 748px;
    }

    .container .one-third.column {
        width: 236px;
    }

    .container .two-thirds.column {
        width: 492px;
    }

    .container .offset-by-one {
        padding-left: 48px;
    }

    .container .offset-by-two {
        padding-left: 96px;
    }

    .container .offset-by-three {
        padding-left: 144px;
    }

    .container .offset-by-four {
        padding-left: 192px;
    }

    .container .offset-by-five {
        padding-left: 240px;
    }

    .container .offset-by-six {
        padding-left: 288px;
    }

    .container .offset-by-seven {
        padding-left: 336px;
    }

    .container .offset-by-eight {
        padding-left: 384px;
    }

    .container .offset-by-nine {
        padding-left: 432px;
    }

    .container .offset-by-ten {
        padding-left: 480px;
    }

    .container .offset-by-eleven {
        padding-left: 528px;
    }

    .container .offset-by-twelve {
        padding-left: 576px;
    }

    .container .offset-by-thirteen {
        padding-left: 624px;
    }

    .container .offset-by-fourteen {
        padding-left: 672px;
    }

    .container .offset-by-fifteen {
        padding-left: 720px;
    }
}

@media only screen and (max-width:767px) {
    .container {
        width: 300px;
    }

        .container .columns, .container .column {
            margin: 0;
        }

        .container .one.column, .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns, .container .one-third.column, .container .two-thirds.column {
            width: 300px;
        }

        .container .offset-by-one, .container .offset-by-two, .container .offset-by-three, .container .offset-by-four, .container .offset-by-five, .container .offset-by-six, .container .offset-by-seven, .container .offset-by-eight, .container .offset-by-nine, .container .offset-by-ten, .container .offset-by-eleven, .container .offset-by-twelve, .container .offset-by-thirteen, .container .offset-by-fourteen, .container .offset-by-fifteen {
            padding-left: 0;
        }
}

@media only screen and (min-width:480px) and (max-width:767px) {
    .container {
        width: 420px;
    }

        .container .columns, .container .column {
            margin: 0;
        }

        .container .one.column, .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns, .container .one-third.column, .container .two-thirds.column {
            width: 420px;
        }
}

.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix:before, .clearfix:after, .row:before, .row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.row:after, .clearfix:after {
    clear: both;
}

.row, .clearfix {
    zoom: 1;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.mt1 {
    margin-top: 1em;
}

.mt2 {
    margin-top: 2em;
}

.mt5 {
    margin-top: 5em;
}

.mb1 {
    margin-bottom: 1em;
}

.mb2 {
    margin-bottom: 2em;
}

.mb5 {
    margin-bottom: 5em;
}

body {
    background-color: #182e37;
    font-size: 100%;
    /*font-family: "klavika_rgregular",serif;*/
    font-family: arial, helvetica, clean, sans-serif, "ËÎÌו";
    min-width: 1024px;
}

.debug {
    display: none!important;
}

.ruler {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    padding-top: 0;
    border-bottom: 1px dotted #aaa;
    text-align: center;
    color: #aaa;
    line-height: 0;
}

    .ruler.h768px {
        top: 768px;
    }

    .ruler.h700px {
        top: 700px;
    }

.debug-links {
    position: relative;
    width: 0;
    height: 0;
}

    .debug-links img {
        width: 20px;
        height: 20px;
        cursor: pointer;
        float: right;
        margin: -10px -10px 0 0;
    }

    .debug-links h3 {
        margin: 0;
        font-size: 14px;
    }

    .debug-links div {
        position: absolute;
        top: 10px;
        left: 10px;
        border: 1px solid #999;
        border: 1px solid #666;
        background: #eee;
        padding: 10px;
    }

    .debug-links ul {
        padding-left: 20px;
        font-size: 11px;
    }

    .debug-links span {
        cursor: pointer;
        text-decoration: underline;
    }

h1 {
    font-family: "klavika_bdbold";
    color: #1b3a46;
    font-size: 48px;
    line-height: 125%;
}

h3 {
    font-size: 21px;
}

input, select, option {
    color: #444;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

.m0auto {
    margin: 0 auto;
}

.m0 {
    margin: 0!important;
}

.mr5 {
    margin-right: 5px!important;
}

.mr10 {
    margin-right: 10px!important;
}

.mr15 {
    margin-right: 15px!important;
}

.ml5 {
    margin-left: 5px!important;
}

.ml10 {
    margin-left: 10px!important;
}

.ml15 {
    margin-left: 15px!important;
}

.mt50 {
    margin-top: 50px!important;
}

.mt100 {
    margin-top: 100px!important;
}

.mt150 {
    margin-top: 150px!important;
}

.mb20 {
    margin-bottom: 20px!important;
}

.mb50 {
    margin-bottom: 50px!important;
}

.mb100 {
    margin-bottom: 100px!important;
}

.mb150 {
    margin-bottom: 150px!important;
}

.left {
    text-align: left!important;
}

.right {
    text-align: right!important;
}

.fl {
    float: left!important;
}

.fr {
    float: right!important;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.f28 {
    font-size: 28px;
}

.page-content {
    min-height: 400px;
    color: #666;
    background: #fff;
    padding-bottom: 0;
    border: 1px solid #fff;
}

.concentration.text-color {
    color: #5086b2;
}

.memory.text-color {
    color: #596bcf;
}

.logic.text-color {
    color: #573b95;
}

.speed.text-color {
    color: #7740a7;
}

.visual.text-color {
    color: #6f2070;
}

.language.text-color {
    color: #b9004e;
}

.concentration.bg-color {
    background-color: #5086b2;
}

.memory.bg-color {
    background-color: #596bcf;
}

.logic.bg-color {
    background-color: #573b95;
}

.speed.bg-color {
    background-color: #7740a7;
}

.visual.bg-color {
    background-color: #6f2070;
}

.language.bg-color {
    background-color: #b9004e;
}

.header {
    color: #edf8ff;
}

.header {
    height: 102px;
    background: #163a4e;
    font-size: 21px;
}

    .header.logged-in {
        border-bottom: 4px solid #22e3e5;
    }

    .header .fitbrains-logo {
        float: left;
        margin: 16px 0 0 20px;
    }

        .header .fitbrains-logo img {
            height: 70px;
            width: auto;
            margin-top: -2px;
        }

.user-menu {
    float: right;
    position: relative;
    margin-right: 20px;
    margin-top: 22px;
    font-size: 16px;
    z-index: 9000;
}

    .user-menu > span {
        display: inline-block;
        padding: 10px;
        border: 1px solid #777;
        border-radius: 3px;
        cursor: pointer;
        min-width: 175px;
    }

        .user-menu > span img {
            float: right;
            margin: 5px 0 0 20px;
        }

            .user-menu > span img.up {
                display: none;
            }

    .user-menu .options {
        position: absolute;
        display: none;
        top: 55px;
        left: 0;
        right: 0;
    }

        .user-menu .options div {
            background: #fff;
            width: 100%;
            padding: 10px 0;
            height: 20px;
            border-bottom: 1px solid #ddd;
            font-size: 16px;
            color: #163a4e;
        }

        .user-menu .options div {
            box-shadow: 5px 5px 10px rgba(200,200,200,.75);
        }

        .user-menu .options a {
            text-decoration: none;
            color: #163a4e;
        }

            .user-menu .options a:hover {
                color: #245f80;
            }

            .user-menu .options a:active {
                color: #000;
            }

        .user-menu .options img {
            float: left;
            margin: -3px 15px 0 10px;
        }

    .user-menu .arrow-up {
        display: none;
        position: absolute;
        top: 45px;
        left: 45%;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
    }

.header .container, .header .navigation-links {
    float: right;
}

.header.logged-in .navigation-links, .header.logged-in .container {
    float: none;
}

.header-container.home {
    height: 880px;
    background: url(http://www.fitbrains.com/i/home/xmain_photo.jpg.pagespeed.ic.gM2ZnO0qn2.jpg) no-repeat center top;
    background-size: cover;
}

.header-container.home {
    line-height: 200%;
}

    .header-container.home .window {
        background-color:rgba(24,46,55,.75);
        background-color:#244655 \9; /*IE8 */
        filter:alpha(opacity=75);
        padding: 40px 60px 60px 60px;
        float: left;
        width: 560px;
        margin: 80px 0 0 100px;
    }

        .header-container.home .window h1 {
            font-size: 72px;
            color: #fff;
            font-weight: normal;
            line-height: 100%;
            margin: 0;
        }

        .header-container.home .window h2 {
            font-size: 24px;
            color: #f96e6b;
            text-transform: uppercase;
            font-weight: normal;
        }

        .header-container.home .window p {
            font-size: 24px;
            color: #fff;
        }

    .header-container.home .header {
        width: 100%;
        margin-left: 0;
    }

.header.user {
    height: 86px;
    border-bottom: 5px solid #00dacf;
}

    .header.user .fitbrains-logo {
        float: left;
        margin: 10px 0 0 20px;
    }

    .header.user .container {
        float: none;
    }

    .header.user .navigation-links {
        float: none;
        margin: 0 auto;
        width: 600px;
    }

        .header.user .navigation-links span {
            border-bottom: none;
        }

        .header.user .navigation-links a.selected {
            background: #33546b;
        }

        .header.user .navigation-links a {
            height: 86px;
        }

.navigation-links a {
    display: block;
    float: left;
    height: 102px;
    min-width: 103px;
    padding: 0 20px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-family: "helvetica";
    font-size: 16px;
}

.navigation-links .spacer {
    float: left;
    padding-top: 45px;
    height: 57px;
}

.header-container.home .navigation-links .spacer {
    padding-top: 35px;
    height: 67px;
}

.navigation-links .spacer span {
    border-right: 1px solid #fff;
}

.navigation-links a img {
    margin-bottom: -3px;
    margin-right: 2px;
}

.navigation-links a.selected {
    color: #3ec6c1;
    background: #33546b;
}

.navigation-links a:hover {
    background: #33546b;
}

.navigation-links a:active {
    background: #4d7ea1;
}

.navigation-links a.login.selected span span, .navigation-links a.selected span {
    border-bottom: 3px solid #00dacf;
    padding-bottom: 0px;
}

.navigation-links a:hover {
    text-decoration: underline;
}

.navigation-links a:visited {
    color: #edf8ff;
}

.navigation-links a span {
    display: inline-block;
    margin-top: 45px;
    color: #b6bcbf;
}

.header.user .navigation-links a span {
    margin-top: 35px;
}

.header-container.home .navigation-links a span {
    margin-top: 35px;
}

.navigation-links a.login {
    width: 40px;
}

.navigation-links a.start-training {
    width: 162px;
    padding-right: 0;
}

.navigation-links .spacer, .navigation-links a.login, .navigation-links a.start-training {
    background: #33546b;
}

    .navigation-links a.login span, .navigation-links a.start-training span {
        color: #fff;
        padding-bottom: 10px;
    }

.navigation-links a.start-training {
    padding-left: 0;
}

.header-bar {
    font-size: 18px;
    padding: 15px 0;
    text-align: center;
    border-bottom: 4px solid #eee;
}

    .header-bar.legacy-user {
        background: #00dacf;
        color: #163a4e;
    }

        .header-bar.legacy-user a:visited {
            color: #163a4e;
        }

    .header-bar.suspended-user {
        background: #fc5a64;
        color: #fff;
        margin-top: -5px;
    }

        .header-bar.suspended-user a:visited {
            color: #fff;
        }

.footer {
    margin-top: -1px;
}

    .footer .content {
        background: #163a4e;
        color: #999;
        padding: 40px 0 0 0;
    }

    .footer .logo-fb {
        padding-bottom: 20px;
        border-bottom: 1px solid #306678;
        width: 150px;
    }

    .footer .content .logo {
        width: 180px;
        margin-top: 20px;
    }

    .footer.user .logo-fb {
        border: none;
    }

    .footer .logo-rst {
        margin-top: 20px;
    }

    .footer .links {
        margin: 20px 0 0 0;
    }

        .footer .links a {
            display: inline-block;
            float: left;
            /*min-width: 150px;*/
            margin-bottom: 20px;
            margin-left:30px;
            text-decoration: none;
            color: #edf8ff;
            font-size: 16px;
        }

    .footer.user .links a {
        min-width: 0;
        margin-right: 32px;
    }

    .footer p {
        font-size: 12px;
        text-align: center;
        margin-top: 35px;
    }

    .footer a:hover {
        color: #25dfdf;
    }

    .footer .newsletter {
        text-align: right;
    }

        .footer .newsletter input[type="text"], .footer .newsletter button {
            font-size: 21px;
        }

        .footer .newsletter input[type="text"] {
            height: 40px;
            padding: 0;
            width: 65%;
        }

        .footer .newsletter button {
            height: 40px;
            width: 35%;
        }

        .footer .newsletter input[type="text"] {
            background: #fff;
            border: none;
        }

        .footer .newsletter button {
            background: #306678;
            color: #fff;
            border: none;
        }

        .footer .newsletter h4 {
            text-align: left;
            color: #fff;
            font-size: 21px;
        }

    .footer .bottom {
        background: #306678;
        padding: 30px 0;
        color: #182e37;
        font-size: 18px;
        font-weight: bold;
    }

        .footer .bottom .social {
            float: right;
            text-align: right;
            width: 400px;
        }

        .footer .bottom span {
            display: inline-block;
            vertical-align: top;
        }

        .footer .bottom .social img {
            margin-top: -10px;
        }

.sub-navigation {
    background: #fff;
    border: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    height: 76px;
}

    .sub-navigation ul {
        margin: 0;
        padding: 0;
    }

    .sub-navigation li {
        display: inline-block;
        margin-right: 30px;
        height: 38px;
        margin-top: 36px;
    }

        .sub-navigation li a {
            display: inline-block;
            font-size: 18px;
            height: 100%;
            color: #1b3a46;
            text-decoration: none;
        }

            .sub-navigation li a:hover {
                cursor: pointer;
                border-bottom: 3px solid #ddd;
                color: #000;
            }

            .sub-navigation li a.selected {
                border-bottom: 3px solid #00dacf;
                font-weight: bold;
                color: #0e2128;
            }

.sub-navigation-content {
    margin-top: 30px;
}

.homepage {
    line-height: 200%;
}

    .homepage .window {
        background: #182e37;
        padding: 60px;
        float: left;
        width: 560px;
        margin-top: 120px;
    }

        .homepage .window h1 {
            font-size: 72px;
            color: #fff;
            font-weight: normal;
            line-height: 125%;
            margin: 0;
        }

        .homepage .window h2 {
            font-size: 24px;
            color: #f96e6b;
            text-transform: uppercase;
            font-weight: normal;
        }

        .homepage .window p {
            font-size: 24px;
            color: #fff;
        }

.highlights .row {
    margin-top: 130px;
}

.highlights h2 {
    font-size: 48px;
    color: #306678;
    font-weight: normal;
    line-height: 60px;
    margin: 0;
}

.highlights h3 {
    font-size: 28px;
    font-family: "klavika_light";
    font-weight: normal;
    color: #666;
    line-height: 40px;
}

.highlights img {
    margin-top: 40px;
}

.highlights p {
    font-size: 18px;
    line-height: 26px;
    color: #666;
    margin-top: 10px;
    margin-bottom: 40px;
}

    .highlights p.small {
        font-size: 21px;
    }

.dark-blue-ribbon {
    background: #f0f9fc;
    padding-top: 1px;
    padding-bottom: 20px;
}

    .dark-blue-ribbon .row {
        margin-top: 40px;
    }

.blue-ribbon {
    background: #f0f9fc;
    font-size: 42px;
    color: #1b3a46;
    text-align: center;
    padding: 60px;
    margin: 0;
}

    .blue-ribbon.press img {
        display: inline-block;
        margin: 0 20px;
    }

        .blue-ribbon.press img:nth-child(1) {
            margin-bottom: -10px;
        }

        .blue-ribbon.press img:nth-child(3) {
            margin-bottom: -15px;
        }

.homepage .users {
    text-align: center;
}

    .homepage .users h3 {
        font-size: 48px;
        color: #306678;
        margin-bottom: 0;
    }

    .homepage .users p {
        font-size: 26px;
        color: #666;
    }

    .homepage .users .list div {
        float: left;
        width: 300px;
        margin-top: 20px;
    }

        .homepage .users .list div:nth-child(2) {
            margin: 20px 20px 0 30px;
        }

        .homepage .users .list div h4 {
            font-size: 32px;
            color: #15252b;
            margin: 20px 0 20px 0;
        }

        .homepage .users .list div blockquote {
            font-size: 22px;
            color: #666;
            margin-top: 10px;
        }

.formpage {
    width: 620px;
    margin: 0 auto;
}

    .formpage h1 {
        font-size: 48px;
        color: #306678;
        text-align: center;
        margin-top: 60px;
    }

    .formpage p {
        font-size: 26px;
        line-height: 32px;
        color: #666;
        text-align: center;
    }

    .formpage .form {
        width: 520px;
        padding: 50px;
        background: #eaf1f6;
        margin-top: 40px;
        border: 1px solid #ddd;
    }

    .formpage input[type="password"], .formpage input[type="text"] {
        float: left;
        font-size: 28px;
        color: #7292a5;
        height: 76px;
        width: 419px;
        padding: 0;
        padding-left: 20px;
        background: #fff;
        border: 1px solid #eee;
    }

        .formpage input[type="password"]:focus, .formpage input[type="text"]:focus {
            outline-width: 0;
            border: 1px solid #306678;
        }

    .formpage input[type="submit"] {
        border: 0;
    }

    .formpage form div {
        margin: 0 auto;
        margin-bottom: 50px;
    }

        .formpage form div:last-child {
            margin-bottom: 0;
        }

        .formpage form div img {
            float: left;
        }

    .formpage.login img.normal {
        display: block;
    }

    .formpage.login img.error {
        display: none;
    }

    .formpage.login div.error img.normal {
        display: none;
    }

    .formpage.login div.error img.error {
        display: block;
    }

    .formpage.login div.error input {
        border: 1px solid red;
    }

    .formpage.signup {
        padding-bottom: 40px;
    }

        .formpage.signup .form {
            padding-bottom: 10px;
        }

    .formpage p.message {
        margin-top: 0;
    }

    .formpage.signup .send-me-tips {
        text-align: center;
        padding-top: 20px;
        margin-bottom: 30px;
    }

    .formpage.signup.two-column {
        width: 100%;
    }

        .formpage.signup.two-column .form {
            width: 100%;
        }

        .formpage.signup.two-column .bullets {
            float: right;
            width: 340px;
            padding: 10px;
            background: #fff;
            margin-top: 0;
            border: 1px solid #ddd;
        }

            .formpage.signup.two-column .bullets ul li {
                font-size: 24px;
                line-height: 150%;
            }

            .formpage.signup.two-column .bullets img {
                width: 250px;
            }

    .formpage .logos {
        text-align: center;
    }

        .formpage .logos img {
            float: none;
            width: 250px;
        }

label.placeholder-hidden {
    display: none;
    font-size: 28px;
    line-height: 40px;
}

.button-new {
    display: inline-block;
    padding: 7px 12px 6px 12px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    font-size: .9em;
}

    .button-new.purple {
        line-height: 110%;
        color: #074750!important;
        background: #be7afe;
        border: 4px solid #cd9afe;
        box-shadow: 0 0 0 4px #395c6a;
    }

        .button-new.purple:hover {
            background: #cd9afe;
        }

    .button-new.teal {
        line-height: 110%;
        color: #333!important;
        background: #2bd9c8;
        border: 4px solid #70e6db;
        box-shadow: 0 0 0 4px #395c6a;
    }

        .button-new.teal:hover {
            background: #70e6db;
        }

    .button-new.orange {
        line-height: 110%;
        color: #222!important;
        background: #fe923b;
        border: 4px solid #feb77f;
        box-shadow: 0 0 0 4px #825431;
    }

        .button-new.orange:hover {
            background: #feb77f;
        }

    .button-new.dark {
        line-height: 110%;
        color: #fff!important;
        background: #428fad;
        border: 4px solid #61d3ff;
        box-shadow: 0 0 0 4px #bdedff;
    }

.message {
    border: 1px solid #275466;
    padding: 20px;
    text-align: left;
    background: #fff;
    color: #444;
}

    .message * {
        color: #444;
    }

    .message.error {
        border: 1px solid red;
        background: #ffeded;
        color: red;
    }

    .message.success {
        border: 1px solid green;
        background: #f6fff6;
        color: #009400;
    }

.games-list p {
    font-size: 21px;
    line-height: 30px;
}

.games-list .area {
    margin-top: 40px;
}

    .games-list .area:first-child {
        margin-top: 0;
    }

.games-list .game img, .games-list .game .text, .games-list .game span {
    float: left;
}

.games-list .game {
    background: #f7f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

    .games-list .game img {
        margin: 20px 30px 0 20px;
    }

    .games-list .game h2 {
        font-weight: bold;
    }

        .games-list .game h2.grey {
            font-weight: bold;
            color: #999;
        }

    .games-list .game .text {
        float: left;
        width: 580px;
    }

    .games-list .game p {
        font-size: 21px;
        color: #777;
        line-height: 30px;
    }

    .games-list .game .button {
        float: right;
        margin: 1.5em 1em 0 0;
    }

.training-content.top {
    margin-top: 75px;
}

    .training-content.top .summary {
        margin-bottom: 40px;
    }

        .training-content.top .summary .start-training {
            margin-bottom: -20px;
        }

        .training-content.top .summary .text {
            margin-left: 40px;
        }

            .training-content.top .summary .text h2 {
                font-size: 48px;
                color: #2d6578;
                text-align: left;
            }

            .training-content.top .summary .text h4 {
                font-size: 38px;
                margin-top: 40px;
                color: #44cca5;
                text-align: left;
                text-transform: uppercase;
                padding-bottom: 75px;
                border-bottom: 1px solid #ccc;
            }

            .training-content.top .summary .text .tip {
                margin-top: 10px;
            }

                .training-content.top .summary .text .tip img {
                    float: left;
                    margin-right: 20px;
                    margin-top: -10px;
                    height: 120px;
                }

                .training-content.top .summary .text .tip span {
                    font-size: 18px;
                    color: #878787;
                    line-height: 24px;
                }

.training-content.start-training-button {
    text-align: center;
    border-bottom: 4px solid #fcb410;
    margin: 50px 0 0 0;
}

    .training-content.start-training-button span {
        margin-bottom: -25px;
    }

.training-content.bottom {
    background: #ebf2f7;
    padding-top: 75px;
    padding-bottom: 75px;
}

    .training-content.bottom h2, .training-content.bottom h3, .training-content.bottom h4 {
        text-align: center;
    }

    .training-content.bottom h2 {
        font-size: 36px;
        color: #2c6578;
    }

    .training-content.bottom h3 {
        font-size: 28px;
        color: #777;
        margin: 40px 0 100px 0;
    }

    .training-content.bottom h4 {
        font-size: 36px;
        color: #535353;
        margin-top: 40px;
    }

    .training-content.bottom p {
        font-size: 21px;
        line-height: 30px;
        color: #777;
        text-align: center;
        padding: 0px 180px;
    }

    .training-content.bottom img {
        margin-top: 80px;
    }

    .training-content.top.locked-out *, .training-content.bottom.locked-out * {
        color: #aaa!important;
    }

    .training-content.bottom.locked-out {
        background: #eee;
    }

.training-content.locked-out.start-training-button {
    border-bottom-color: #bbb!important;
}

    .training-content.locked-out.start-training-button span {
        background-color: #bbb!important;
    }

.locked-out .training-progress-bar {
    background: #bbb!important;
}

    .locked-out .training-progress-bar > div {
        background: #999!important;
    }

    .locked-out .training-progress-bar .circle {
        background: #bbb!important;
    }

        .locked-out .training-progress-bar .circle.full {
            background: #999!important;
        }

            .locked-out .training-progress-bar .circle.full div {
                background: #bbb!important;
            }

.training-progress-bar {
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 4px;
    background: #8db1cd;
}

    .training-progress-bar > div {
        position: absolute;
        left: 0;
        background: #335e70;
    }

    .training-progress-bar .filled {
        top: 0;
        width: 0;
        height: 100%;
    }

    .training-progress-bar .circle {
        top: -10px;
        left: -12px;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        background: #8db1cd;
    }

        .training-progress-bar .circle.full {
            background: #335e70;
        }

            .training-progress-bar .circle.full div {
                width: 8px;
                height: 8px;
                margin: 8px;
                border-radius: 12px;
                background: #8db1cd;
            }

h1.fbi {
    text-align: center;
    color: #245268;
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 38px;
}

    h1.fbi span.amount {
        color: #30c598;
    }

    h1.fbi span.total {
        color: #b8b8b8;
    }

.fbi-bar {
    width: 100%;
    position: relative;
    height: 20px;
    margin-bottom: 80px;
}

    .fbi-bar .markers {
        width: 100%;
        position: relative;
    }

        .fbi-bar .markers span, .fbi-bar .markers div {
            position: absolute;
            top: 0;
            display: block;
            text-align: center;
            color: #bbb;
            font-size: 21px;
            width: 20%;
        }

    .fbi-bar .bar .markers {
        position: absolute;
        left: 0;
        top: 0;
    }

    .fbi-bar .bar .markers {
        background-color: #eee;
    }

    .fbi-bar .markers span:nth-child(1) {
        left: 0;
        width: 10%;
        text-align: left;
        color: #2bc69a;
    }

    .fbi-bar .markers span:nth-child(2) {
        left: 10%;
    }

    .fbi-bar .markers span:nth-child(3) {
        left: 30%;
    }

    .fbi-bar .markers span:nth-child(4) {
        left: 50%;
    }

    .fbi-bar .markers span:nth-child(5) {
        left: 70%;
    }

    .fbi-bar .markers span:nth-child(6) {
        right: 0;
        width: 10%;
        text-align: right;
    }

    .fbi-bar .markers div {
        margin-left: -12px;
    }

        .fbi-bar .markers div:nth-child(1) {
            left: 0;
            margin-left: 0;
        }

        .fbi-bar .markers div:nth-child(2) {
            left: 20%;
        }

        .fbi-bar .markers div:nth-child(3) {
            left: 40%;
        }

        .fbi-bar .markers div:nth-child(4) {
            left: 60%;
        }

        .fbi-bar .markers div:nth-child(5) {
            left: 80%;
        }

        .fbi-bar .markers div:nth-child(6) {
            right: -5px;
        }

    .fbi-bar div.bar {
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        height: 8px;
        padding-top: 8px;
    }

        .fbi-bar div.bar div.background, .fbi-bar div.bar div.filled {
            position: absolute;
            top: 8px;
            left: 1%;
            width: 99%;
            height: 100%;
            background-color: #eee;
        }

        .fbi-bar div.bar div.filled {
            width: 10%;
            background-color: #2bc69a;
        }

    .fbi-bar div.circle {
        top: 0;
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background-color: #eee;
    }

        .fbi-bar div.circle.start, .fbi-bar div.circle.end {
            background-color: #2bc69a;
        }

        .fbi-bar div.circle.start {
            left: 0;
        }

        .fbi-bar div.circle.end {
            left: 8.5%;
        }

    .fbi-bar div.position {
        position: absolute;
        top: 35px;
        left: 10%;
        width: 45px;
        height: 30px;
        margin-left: -7px;
        border-radius: 5px;
        line-height: 30px;
        font-size: 16px;
        color: #fff;
        background-color: #2bc69a;
        font-weight: bold;
        text-align: center;
    }

.training-session {
    background: #f8f8f8;
    border: 1px solid #ddd;
    text-align: center;
}

    .training-session h2 {
        color: #245268;
        font-weight: bold;
        margin: 1.8em 0;
        padding-bottom: 1.25em;
        border-bottom: 1px solid #ddd;
    }

    .training-session h4 {
        color: #777;
        padding-bottom: 0;
        margin-bottom: .75em;
        font-size: 1em;
        font-weight: normal;
    }

    .training-session h3 {
        color: #777;
        margin: 0;
        padding-bottom: 1em;
        border-bottom: 1px solid #ddd;
        font-size: 2em;
    }

    .training-session p {
        padding: 1em 0;
    }

.comparison-indicators {
    padding-left: 50px;
    margin-bottom: 50px;
}

    .comparison-indicators canvas {
        margin: 60px 50px 0 50px;
    }

        .comparison-indicators canvas.fbi {
            margin: 0 auto;
            margin-bottom: 0;
        }

.progress-container {
    margin: 20px 0 100px 0;
}

    .progress-container h3, .progress-container h4, .progress-container h5, .progress-container .bar {
        margin: 0;
        padding: 0;
    }

    .progress-container h3, .progress-container h4, .progress-container h5 {
        float: left;
    }

    .progress-container h3 {
        margin-top: 42px;
        font-size: 28px;
        color: #525252;
        width: 180px;
        font-weight: normal;
    }

    .progress-container h4 {
        margin-top: 44px;
        font-size: 36px;
        min-width: 75px;
        text-align: right;
    }

    .progress-container h5 {
        margin-top: 46px;
        font-size: 24px;
        color: #aaa;
        margin-left: 10px;
        font-weight: normal;
    }

    .progress-container .bar {
        margin-top: 40px;
        height: 24px;
        float: right;
        width: 600px;
        background-color: #eee;
        border-radius: 12px;
        overflow: hidden;
    }

    .progress-container .filled {
        height: 100%;
        width: 3%;
    }

.tool-tip {
    position: relative;
    top: -5px;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 2px 0 0 2px;
    border: 1px solid #aaa;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    font-weight: bold;
    color: #aaa;
}

    .tool-tip:hover {
        border: 1px solid #777;
        color: #777;
    }

.fbi-meter {
    position: relative;
    width: 370px;
    height: 370px;
    background: url(http://www.fitbrains.com/i/bg/xfbi_empty.png.pagespeed.ic.4-SLpwOSkb.png);
    background-size: cover;
}

.locked_out .fbi-meter {
    background: url(http://www.fitbrains.com/i/bg/xfbi_empty_grey.png.pagespeed.ic.2OMGbvMu6g.png);
    background-size: cover;
}

.fbi-meter canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fbi-meter .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(http://www.fitbrains.com/i/bg/xfbi_indicator.png.pagespeed.ic.UcPV3-YqVd.png);
    background-size: cover;
}

.fbi-meter h3 {
    padding-top: 120px;
    margin: 0;
    font-size: 72px;
    text-align: center;
    color: #000;
}

.fbi-meter h4 {
    margin: 50px 75px;
    font-size: 32px;
    text-align: center;
    color: #999;
    padding-top: 40px;
    border-top: 1px solid #ccc;
}

.fbi-meter .help {
    position: absolute;
    top: 315px;
    left: 165px;
    width: 39px;
    height: 32px;
    padding: 4px 0 4px 1px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
    color: #ccc;
}

    .fbi-meter .help:hover {
        border: 1px solid #999;
        color: #999;
    }

.performance p {
    font-size: 21px;
    line-height: 30px;
}

.performance.area-desc {
    font-size: 21px;
    line-height: 30px;
    margin-top: 50px;
}

.performance-summary .text {
    margin-left: 40px;
}

    .performance-summary .text h2 {
        font-size: 48px;
        color: #2d6578;
        text-align: left;
    }

    .performance-summary .text h3 {
        font-size: 26px;
        color: #ccc;
        text-align: left;
        padding-bottom: 75px;
        border-bottom: 1px solid #ccc;
    }

    .performance-summary .text h4 {
        font-size: 38px;
        margin-top: 40px;
        color: #44cca5;
        text-align: left;
        text-transform: uppercase;
    }

.performance-details div {
    padding: 50px 0;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

    .performance-details div:first-child {
        padding-top: 0;
    }

.performance-details h2, .performance-details h3 {
    font-size: 28px;
    color: #545454;
    font-weight: normal;
    margin: 0;
}

.performance-details h3 {
    color: #545454;
}

.performance-details div span {
    float: right;
    font-size: 28px;
    color: #22c49c;
    font-weight: bold;
}

.performance-details #history-chart {
    width: 958px;
    height: 400px;
    margin-top: 30px;
    border: 1px solid #eee;
}

.performance.low.bg-color {
    background-color: #f0632a;
}

.performance.medium.bg-color {
    background-color: #fbb10c;
}

.performance.high.bg-color {
    background-color: #22c49c;
}

.performance.low.text-color {
    color: #f0632a;
}

.performance.medium.text-color {
    color: #fbb10c;
}

.performance.high.text-color {
    color: #22c49c;
}

.compare {
    font-size: 21px;
    line-height: 30px;
}

.upgrade-description {
    font-size: 18px;
    line-height: 125%;
    margin: 30px 0 40px 0;
}

.billing-packages-mobile {
    display: none;
}

.billing-packages {
    margin-top: 70px;
    margin-bottom: 40px;
}

    .billing-packages > div {
        float: left;
        margin-right: 20px;
        width: 220px;
        padding: 0;
        background: #e2ebf1;
        color: #306678;
        text-align: center;
        font-size: 20px;
        font-family: "klavika_light";
        min-height: 310px;
    }

    .billing-packages div.top {
        background: #4091d2;
        min-height: 90px;
        padding: 25px 0 5px 0;
        margin-bottom: 25px;
    }

    .billing-packages .most-popular div.top {
        background: #86c543;
    }

    .billing-packages .most-popular div.top-banner {
        height: 40px;
        margin-top: -40px;
        background: #72a839;
        color: #fff;
        font-size: 19px;
        line-height: 42px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .billing-packages button {
        width: 85%;
        margin: 40px 0 10px 0;
    }

    .billing-packages h2 {
        font-size: 34px;
        color: #fff;
    }

    .billing-packages h3 {
        font-size: 44px;
        color: #306678;
        margin: 0;
        line-height: 100%;
        margin-top: 5px;
    }

        .billing-packages h3 > sup {
            font-size: 20px;
            color: #306678;
            margin-right: -5px;
        }

        .billing-packages h3 span {
            font-size: 22px;
            line-height: 22px;
        }

    .billing-packages > div.promo-code-applied {
        background: #fcf5e4;
    }

    .billing-packages .promo-code-applied div.top {
        background: #fcb414;
    }

    .billing-packages .promo-code-applied div.top-banner {
        background: #cd8911;
    }

    .billing-packages > div.promo-code-applied, .billing-packages .promo-code-applied h3, .billing-packages .promo-code-applied h3 > sup {
        color: #cd8912;
    }

    .billing-packages .old-price {
        font-size: 21px;
        text-decoration: none;
    }

    .billing-packages .promo-code-applied .old-price {
        text-decoration: line-through;
    }

.promo-code-applied-text {
    font-size: 24px;
    font-weight: bold;
}

.billing-highlights {
    padding: 5px 30px;
    background: #f0f9fc;
    margin: 80px 0 80px 0;
}

    .billing-highlights h2 {
        font-size: 30px;
        line-height: 40px;
        color: #306678;
        font-family: "klavika_light";
    }

    .billing-highlights ul {
        margin-bottom: 30px;
    }

    .billing-highlights li {
        font-family: "klavika_light";
        font-size: 24px;
        line-height: 34px;
        list-style: none;
        margin-bottom: 10px;
    }

        .billing-highlights li span {
            display: inline-block;
            width: 12px;
            height: 12px;
            background: #7292a5;
            margin: 0 20px 2px 0;
        }

    .billing-highlights div img {
        float: left;
        margin: 0 40px 50px 0;
    }

        .billing-highlights div img.big {
            margin-left: 40px;
        }

    .billing-highlights img.by-rosetta-stone {
        display: block;
        width: 400px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .billing-highlights.existing-user {
        margin: 20px 0;
    }

        .billing-highlights.existing-user div {
            margin: 40px 0 20px 0;
            text-align: center;
        }

            .billing-highlights.existing-user div img {
                float: none;
            }

.choose-option {
    font-size: 36px;
    line-height: 46px;
}

.billing-highlight-bottom {
    margin: 60px 0;
}

    .billing-highlight-bottom:last-child {
        margin-bottom: 160px;
    }

    .billing-highlight-bottom img {
        float: left;
        margin-right: 30px;
    }

    .billing-highlight-bottom h3 {
        font-family: "klavika_light";
        font-size: 24px;
        line-height: 125%;
        margin-bottom: 0;
        color: #306678;
    }

    .billing-highlight-bottom p {
        font-family: "klavika_light";
        font-size: 20px;
        line-height: 125%;
        margin-top: 0;
    }

.promo-code-container h3 {
    font-family: "klavika_light";
    text-decoration: underline;
    cursor: pointer;
}

.promo-code-container > div {
    display: none;
    font-size: 21px;
}

.promo-code-container.shown h3 {
    display: none;
}

.promo-code-container.shown > div {
    display: block;
}

.promo-code-container input {
    font-size: 21px;
    border: 1px solid #ddd;
    padding: 10px;
    background: #fff;
    margin-left: 15px;
}

.promo-code-container button {
    margin: -5px 0 0 20px;
}

.logo-container img {
    margin: 0 auto;
    display: block;
    width: 50%;
    height: 50%;
    padding-top: .5em;
    padding-bottom: 50px;
}

.upgrade-info {
    color: #26c59d;
}

#modal_overlay_iframe_container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 9001;
}

    #modal_overlay_iframe_container iframe {
        width: 100%;
        height: 100%;
    }

#modal_overlay_mask {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9000;
    padding: 0;
    margin: 0;
}

    #modal_overlay_mask.dark {
        opacity: .75;
        background: #172d36;
    }

    #modal_overlay_mask.light {
        background: #fff;
        opacity: 1;
    }

.account {
    margin-bottom: 100px;
}

    .account.form form {
        margin-top: 40px;
    }

    .account.form h1 {
        margin: 20px 0 60px 0;
    }

    .account.form form > div {
        margin: 20px 0 20px 0;
    }

    .account.form input[type="text"], .account.form input[type="password"] {
        width: 300px;
    }

    .account.form select, .account.form input[type="submit"] {
        width: 320px;
    }

    .account.form input[type="text"], .account.form input[type="password"], .account.form select, .account.form span {
        display: inline-block;
        padding: 10px;
        font-size: 21px;
    }

    .account.form input[type="text"], .account.form input[type="password"] {
        border: 1px solid #ddd;
    }

    .account.form label {
        display: inline-block;
        min-width: 175px;
        font-size: 21px;
        color: #000;
    }

    .account.form span, .account.form a {
        font-size: 21px;
    }

    .account.form.email h4 {
        float: left;
        font-size: 21px;
        margin-top: 0;
        min-width: 200px;
        font-family: "klavika_light";
        color: #333;
    }

    .account.form.email label {
        color: #777;
    }

    .account .reminders {
        width: 400px;
        float: left;
    }

        .account .reminders div {
            float: left;
            width: 200px;
            margin-bottom: 30px;
        }

    .account button {
        margin-left: 10px;
    }

    .account .message.success {
        background: #bdffb5;
        border: 1px solid #12a400;
        color: #12a400;
        border-radius: 0;
    }

    .account .message.error {
        background: #ffcfcf;
        border: 1px solid red;
        color: red;
        border-radius: 0;
    }

.payment-page {
    margin-bottom: 50px;
}

    .payment-page h1 {
        font-size: 36px;
    }

    .payment-page h3 {
        color: #1c3b46;
        margin-top: 0;
    }

.cc-form {
    margin-bottom: 50px;
}

    .cc-form h3 {
        position: relative;
        margin-bottom: 32px;
    }

    .cc-form img {
        position: absolute;
        top: -15px;
    }

    .cc-form form div {
        margin: 0 0 22px 0;
    }

    .cc-form label {
        display: inline-block;
        min-width: 200px;
        font-size: 21px;
        margin: 10px 0;
    }

    .cc-form .security-code input[type="text"] {
        width: 250px;
    }

    .cc-form .security-code span {
        margin-left: 10px;
        display: inline-block;
        border-radius: 22px;
        width: 36px;
        height: 36px;
        padding: 2px;
        border: 1px solid #ddd;
        color: #777;
        text-align: center;
        font-size: 24px;
        cursor: pointer;
        line-height: 40px;
    }

        .cc-form .security-code span:hover {
            border-color: #777;
        }

    .cc-form input[type="text"], .cc-form input[type="password"], .cc-form select {
        font-size: 21px;
        border: 1px solid #ddd;
        padding: 10px;
        background: #fff;
        width: 300px;
    }

    .cc-form button {
        width: 320px;
    }

    .cc-form select[name="cc\[year\]"] {
        width: 200px;
    }

    .cc-form select[name="cc\[month\]"] {
        width: 120px;
    }

    .cc-form p {
        color: #aaa;
        font-size: 18px;
        line-height: 24px;
        width: 320px;
        margin-left: 200px;
    }

    .cc-form .cards img {
        margin-top: 5px;
    }

.cc-selected-package {
    float: right;
    margin-right: 60px;
}

    .cc-selected-package > div {
        border: 1px solid #86c543;
        padding: 20px 60px;
        background: #f8f8f8;
        margin-bottom: 30px;
        text-align: center;
    }

    .cc-selected-package h2 {
        font-size: 34px;
        line-height: 44px;
        color: #86c543;
        text-align: center;
    }

    .cc-selected-package h4 {
        font-size: 21px;
        color: #1c3b46;
    }

    .cc-selected-package h2 {
        font-size: 44px;
        color: #86c543;
        line-height: 100%;
        margin: 0 0 20px 0;
    }

    .cc-selected-package sup {
        font-size: 20px;
        color: #86c543;
    }

    .cc-selected-package img {
        margin-bottom: 20px;
    }

    .cc-selected-package .promo-code-applied {
        background: #fcf5e4;
        border: 1px solid #fdc346;
    }

        .cc-selected-package .promo-code-applied h2, .cc-selected-package .promo-code-applied h3, .cc-selected-package .promo-code-applied sup {
            color: #cd8912;
        }

        .cc-selected-package .promo-code-applied h3 {
            text-align: center;
            font-size: 21px;
            text-decoration: line-through;
            line-height: 100%;
            margin: 0;
        }

.support-page h2 {
    color: #2d6578;
    font-size: 28px;
    line-height: 30px;
    margin-top: 90px;
}

.support-page p {
    font-size: 21px;
    line-height: 32px;
    margin-top: 30px;
    font-family: "klavika_light";
}

.faq {
    margin-bottom: 60px;
}

    .faq li {
        font-size: 21px;
        line-height: 30px;
    }

.locked-out-content {
    width: 100%;
    padding-top: 50px;
    text-align: center;
}

    .locked-out-content h1 {
        line-height: 50px;
    }

    .locked-out-content p {
        font-size: 28px;
        line-height: 36px;
    }

    .locked-out-content.button {
        text-align: center;
        border-bottom: 4px solid #fcb410;
        margin: 50px 0 0 0;
    }

        .locked-out-content.button a {
            margin-bottom: -40px;
        }

.feedback {
    margin-bottom: 80px;
}

    .feedback textarea {
        width: 400px;
        height: 300px;
        border: 1px solid #ddd;
        background: #f8f8f8;
        font-size: 18px;
        line-height: 24px;
    }

.about {
    margin-bottom: 100px;
}

    .about p {
        font-size: 21px;
        line-height: 30px;
    }

.contact {
    margin-bottom: 100px;
}

    .contact a {
        color: #00a69d;
    }

    .contact ul {
        padding-left: 0;
        font-size: 21px;
        line-height: 30px;
        list-style: none;
    }

    .contact .map {
        width: 100%;
        height: 500px;
    }

    .contact div.office {
        float: left;
        width: 450px;
    }

    .contact div.corporate {
        float: left;
        width: 450px;
        margin-left: 20px;
    }

.science {
    margin-bottom: 100px;
}

    .science h2 {
        margin: 20px 0;
    }

    .science p {
        font-size: 21px;
        line-height: 30px;
        margin-bottom: 40px;
    }

.receipt-page h2 {
    font-family: "klavika_bdbold";
    color: #1b3a46;
    font-size: 36px;
    margin-top: 70px;
}

.receipt-page .apps {
    margin-bottom: 100px;
}

    .receipt-page .apps div {
        border: 1px solid #eee;
        background: #f8f8f8;
        padding: 5px 10px;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .receipt-page .apps img {
        float: left;
    }

    .receipt-page .apps h4 {
        float: left;
        font-size: 32px;
        font-family: "klavika_light";
        font-weight: normal;
        line-height: 150%;
        margin: 40px 0 0 20px;
    }

    .receipt-page .apps a {
        float: right;
        margin-top: 40px;
    }

.receipt-highlight {
    background: #ebf2f7;
    padding: 50px 20px;
    margin: 50px 0;
}

    .receipt-highlight h1 {
        font-size: 42px;
        line-height: 100%;
        margin-top: 0;
    }

    .receipt-highlight p, .receipt-apps p {
        font-size: 21px;
        line-height: 100%;
    }

    .receipt-highlight img {
        float: left;
        margin-right: 20px;
    }

.receipt-page ul {
    margin-top: 50px;
    padding-left: 0;
}

.receipt-page li {
    list-style: none;
    font-size: 32px;
    line-height: 60px;
}

    .receipt-page li strong {
        display: inline-block;
        min-width: 200px;
    }
